@import url(font-awesome.min.css);

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.top-menu a {
  transition: color 0.2s;
}

.header h1 {
  float: left;
  font-size: 2.3vw;
}

.top-menu a:hover {
  color: #adadad !important; 
}

.nav {
  text-align: right;
}

.nav ul li {
  display: inline;
  padding: 0 15px;
  font-size: 1.2vw;
}

.nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in-out;
}

.nav ul li a:hover {
  color: #ffff !important;
}

.top-menu {
  padding: 40px;
}

.header {
  background-image: url("../image/dark_tint.png"),
    url("../image/bokeh_car_lights_bg.jpg");
  background-position: center center;
  background-size: cover;
}

.btn {
  padding: 8px 20px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  text-align: center;
  font-size: 1.3vw;
  color: #ffff;
}

.btn-blue {
  background-color: #31d2f2;
  color: #ffffff !important;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.btn-blue:hover {
  background-color: #3cadd4 !important;
  color: #fff !important;
  /* border: 1px solid #3cadd4; */
  /* box-shadow: 5px rgba(255, 255, 255, 0.5); */
}

.btn-gray {
  background-color: #fff;
  color: #444 !important;
  transition: background-color 0.2s, color 0.2s;
}

.btn-gray:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

.btn-big {
  font-size: 1.4vw !important;
  padding: 17px 35px;
}

.btn-dark {
  background-color: #383b43;
  color: #ffff !important;
  transition: background-color 0.2s;
}

.banner-content {
  text-align: center;
  color: #fff;
  padding: 150px 0;
}

.banner-content h2 {
  font-size: 4vw;
  line-height: 130px;
  word-spacing: 5px;
  font-family: Helvetica;
  margin-bottom: 0.3vw;
}

.banner-content p {
  font-size: 1.5vw;
  word-spacing: 2px;
  margin-bottom: 50px;
  /* margin-top: 1.3vw; */
}

.services {
  background-color: #f5f5f5;
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  padding: 100px 0;
  text-align: center;
}

.service-header {
  margin-bottom: 50px;
}

.service-header h2 {
  font-size: 3vw;
  color: #474747;
  margin-bottom: 12px;
}

.service-header p {
  font-size: 1.5vw;
  color: #858585;
}

.color-blue {
  background-color: #3cadd4;
}

.color-green {
  background-color: #add43c;
}

.color-red {
  background-color: #d43c61;
}

.big {
  font-size: 3.5vw;
}

.rounded {
  border-radius: 100%;
  padding: 25px;
}

.service-content > * {
  float: left;
}

.box {
  background-color: #fff;
  padding: 70px 30px;
  border-radius: 4px;
  width: calc(calc(100% / 3) - 82px);
  border: 1px solid rgba(144, 144, 144, 0.25);
  margin: 0 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.box:hover {
  background-color:rgba(231, 231, 231, 0.685);
}

@media only screen and (min-width: 2000px) {
  /* .box p {
    color: red !important;
    line-height: 1.2em; 
  } */
}

.service-content::after,
.service-content::before {
  content: "";
  display: block;
  clear: both;
}

.box h4 {
  color: #858585;
  font-size: 1.4vw;
  margin: 60px 0 30px 0;
}

.box p {
  line-height: 25px;
  font-size: 1.1vw;
}

.service-content {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  .box {
    width: 100%;
    padding: 60px 0;
    margin: 10px 0;
  }
}

.about {
  text-align: center;
  padding: 100px 0;
}

.about-header h2 {
  font-size: 3vw;
  color: #474747;
  margin-bottom: 12px;
}

.about-header p {
  font-size: 1.5vw;
  color: #858585;
}

.about-content {
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  margin: 60px auto;
  width: 90%;
  padding-top: 60px;
}

.about-content>* {
  float: left;
}

.about-content::after,
.about-content::before {
  content: "";
  display: block;
  clear: both;
}

.profile {
  width: 25%;
  margin-bottom: 60px;
}

.profile img {
  float: left;
  border-radius: 50%;
}

.profile h4 {
  margin-top: 30px;
}

.profile p {
  line-height: 25px;
}

.about-footer p {
  line-height: 25px;
  font-size: 1.1vw;
  margin-bottom: 40px;
}

.about-footer {
  width: 70%;
  margin: 0 auto;
}

.contact {
  background-color: #31d2f2;
  color: #fff;
  padding: 100px 0;

}

.contact-header {
  text-align: center;
}

.contact-header h2{
  font-size: 3vw;
  margin-bottom: 20px;
}

.contact-header p {
  font-size: 1.3vw;
}

.contact-content {
  text-align: center;
  margin-top: 100px;
}

input[type="text"],
input[type="email"] {
  background-color: #fff;
  color: #444;
  border: none;
  border-radius: 4px;
  padding: 15px 11px;
  width: 25%;
  outline: 0;
}

textarea {
  background-color: #fff;
  color: #444;
  border: none;
  border-radius: 4px;
  height: 200px;
  padding: 15px 25px;
  width: 50%;
  margin-top: 20px;
  outline: none;
  resize: none;
}

.form-control {
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  outline: 0;
  border-color: #858585;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.contact-content button {
  margin-top: 20px;
}

::placeholder {
  color: #858585 !important;
  font-size: 1vw;
  font-family: "Raleway";
}

.btn-dark:hover {
  background-color: #212227;
}

.footer a {
  color: #c9c7c7 !important;
  transition: color 0.2s;
}

.footer {
  background-color: #383b43;
  padding: 100px 0;
  
}

.copyright li{
  color: #858585;
  display: inline;
  font-size: 1vw;
  margin: 0 5px;
}

.footer a:hover {
  color:rgb(255, 255, 255) !important; 
}