@media screen and (max-width: 1300px)
{
    
    .container
    {
        width: 95%;
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1200px){
    #our-story{
        height:400px;
    }
    #our-story .story-description h2{
        margin-top:100px;
    }
    #our-story .story-description p{
        width: 95%;
       
        transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        -webkit-transition: .5s all ease-in-out;
    }
    #our-story .story-img img{
        width: 100%;
        height: 400px;
    }

    #menu .menu p{
        width: 90%;  
    }
    #delight{
        height:100%;
        margin:0;
    }
    #delight .delight .delight-description{
        width:100%;
        height:300px;
    }
    #delight .delight .delight-description p{
        width:90%;
        margin:30px auto;
    }
    #delight .delight .delight-image{
        width:100%;
        text-align:center;
    }
}

@media screen and (max-width: 992px) 
{
    #our-story{
        
        height:350px;
    }

    #our-story .story-img img{
        width: 100%;
        height: 350px;
    } 

    #our-story .story-description h2{
        margin-top:60px;
    }

    header{
        height:600px;
    }
    header nav ul
    {
        display: none;
    }
    
    header nav .hamburger 
        {
            display: block;
            width: 70px;
            float: right;
            margin-top:5px;
        }

    header nav .hamburger img{
        width:100%;
        cursor:pointer;  
    } 
    
    #responsive-navigation{
        width: 220px;
        height: 100vh;
        background-color: rgba(0, 0, 0,.9);
        position:absolute;
        top:0px;
        right:-220px;
        z-index:1;
        display: block;
    }

    #responsive-navigation ul{
        width:100%;
        height:100%;
        display:block;
    }

    #responsive-navigation ul li{
        color: #fff;
        width:100%; 
        text-align:center;
    }
    .back-container{
        position: absolute;
        right:0;
        top:0;
        bottom:0;
        left:0;
        background-color: rgba(0, 0, 0,.5)
    }
    header .header-title h2{
        font-size: 40px;
        transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        -webkit-transition: .5s all ease-in-out;
    }
    header .header-title p{
        font-size: 25px;
        transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        -webkit-transition: .5s all ease-in-out;
    }

    #Sweet{
        background-size:100% 100%;
    }
   
    #menu{
        height:100%;
        margin-top:0px;
    }
    #menu .menu {
        width: 100%;
    }
    #menu .menu-item{
        width: 100%;
        margin-top:50px;
    }
    
 }

@media screen and (max-width: 768px){
    header .header-title h2{
        font-size: 35px;
    }

    header .header-title p{
        width: 80%;
        margin:30px auto;
    }

    #our-story{
        margin:0;
        height:100%;
    }
    #our-story .story-description{
        width:100%;
    }
    #our-story .story-img {
        width:100%;
    }

    #Sweet .sweet-description h2{
        font-size: 30px;
        transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        -webkit-transition: .5s all ease-in-out;
    }

    #Sweet .sweet-description p{
        font-size: 20px;
        transition: .5s all ease-in-out;
        -moz-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        -webkit-transition: .5s all ease-in-out;
    }

    #Sweet{
        background-size:cover;
    }

    #hot .hot-description{
        font-size: 35px;
    }
    #hot .hot-description p{
        font-size: 30px;
    }

    #delight .delight .delight-description p{
        font-size:20px;
        text-align:justify;
    }
    
    #delight .delight .delight-description h2{
        font-size:30px;
    }

    footer .footer .contact-us{
        display:block;
        width:50%;
        margin:0 auto;
    }

    footer .footer .contact-us .newslatter{
        width:100%;
    }
    footer .footer .contact-us .social{
        width: 100%;
        margin-top:20px;
    }

   

   
}

@media screen and (max-width:576px){
    
    header{
        height:500px;
    }
    header .header-title h2{
        font-size: 28px;
    }

    header .header-title p{
        width: 85%;
        font-size: 22px;
        margin:30px auto;
    }
    #our-story .story-img img{
        width: 100%;
        height: 300px;
    } 
    #our-story .story-description h2{
        font-size:25px;
    }

    #Sweet .sweet-description h2{
        font-size: 25px;
    }

    #menu .menu-item ul li{
        width:100%;
    }

    #menu .menu-item ul li img{
        width:100%;
    }

    #menu .menu h2{
        font-size:30px;
    }
    #menu .menu p{
        font-size:17px;
        text-align:justify;
    }
    #hot{
        height:450px;
    }
    #delight .delight .delight-description{
        width:100%;
        height:350px;
    }
    #delight .delight .delight-image{
      margin-right:5px; 
    }
    footer .footer .About p{
        width:100%;
        font-size:17px;
    }
}

    @media screen and (max-width:400px){
        body{
            overflow-x:hidden;
        }
        header div.logo{
            width: 50%;
        }
        
        #hot .hot-description{
            font-size: 30px;
        }
        #hot .hot-description p{
            font-size: 25px;
        }
        #delight .delight .delight-description{
            
            height:390px;
        } 
        #delight .delight .delight-description p{
            font-size:17px;
            height:min-content;
            text-align:justify;
        }
        
        #delight .delight .delight-description h2{
            font-size:28px;
        }
        #delight .delight .delight-image img{
            width:100%;
            margin-right:0; 
            height:300px; 
          }

        footer .footer .contact-us{
            width:80%;
        }

        footer .footer .About p{
            width:100%;
            font-size:17px;
            text-align:justify;
        }
        footer .copy-right .copy-right-description h2{
            margin-top: 20px;
            font-size:20px;
        }
    }



   





